{% extends 'back/master.html' %}

{%load static%}
{% block mainblock %}

  <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Emails List<br><small>You can add,delete and edit your data!</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Emails</li>
                            <li><a href="panel/newsletter/emails/">List</a></li>
                        </ul>
                        <!-- END Datatables Header -->



                         <!-- Datatables Content -->
                        

                              
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">

                                      <h2><strong> Send</strong> Email</h2>

                                    </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{% url 'send_email' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" >
                                        {% csrf_token %}
                                    
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea type="text" id = "txt " name = "txt " rows = "5" class="form-control" > My TXT</textarea>
                                            </div>

                                        </div>

                                        
                                        <div class="form-group">
                                            <div class="col-md-12">
                                               <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                     
                                            </div>
                                         
                                        </div>

                                    </form>
                                    <!-- END Basic Form Elements Content -->
                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>
                            
                        </div>

                        <!-- END Datatables Content -->

                        <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Emails</strong> List</h2>
                            </div>
                        <form action="{% url 'check_mychecklist' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" >
                                {% csrf_token %}
                            <div class="table-responsive">
                                   
                                    
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>&nbsp</th>
                                            <th class="text-center">ID</th>
                                            
                                            <th>Email</th>

                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                    {% for cc in emails %}
                                        <tr>
                                            <!-- <td><input type="checkbox"name="{{cc.pk}}" id="check"></td> -->
                                            <td><input type="checkbox" name="checks[]" value={{ cc.pk }}></td>
                                            <td class="text-center">{{ cc.pk }}</td>
                                             <td>{{ cc.txt }}</td>
                                          
                                            
                                            <td class="text-center">
                                                <div class="btn-group">
                                                   
                                                    <a href="{% url 'news_txt_del' pk=cc.pk num=1 %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Delete </a>
                                                   
                                                </div>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                     
                                </div>
                                         
                            </div>
                            
                        </form>
                        </div>
                        <!-- END Datatables Content -->
{% endblock %}
{% block footerblock %}

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js'%}"></script>
        <script>$(function(){  TablesDatatables.init(); });</script>
    </body>

{% endblock %}