{% extends 'back/master.html' %}

{%load static%}

{% block headblock%}
<head>
    <script type='text/javascript'>
        
        function goBack(){
            
            window.history.back();
        }
    </script>
</head>
{% endblock %}
{% block mainblock %}

  <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i> Error <br><small>{{ error }}</small>
                                </h1>
                            </br>

                            <button onclick="goBack">Back</button>




                            </div>
                        </div>
                      <!-- END Datatables Header -->

                        


                        <!-- END Datatables Content -->
{% endblock %}
{% block footerblock %}

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js'%}"></script>
        <script>$(function(){  TablesDatatables.init(); });</script>
    </body>

{% endblock %}